.auth {
    background: url("/public/assets/auth-bg.jpg");
    background-size: cover;
    font-family: sans-serif;
    height: 80vh;
    width: 100%;
}

.authWrapper {
    width: fit-content;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authWrapper>img {
    width: 300px;
    height: 100px;
}

.authWrapper>span {
    width: 400px;
    height: 2px;
    background: #7580f1;
    margin: 20px 0;
}

.authGoogleBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(137, 43, 226, 0.452);
    padding: 10px 19px;
    border-radius: 100px;
    cursor: pointer;
}

.authGoogleBtn:hover {
    background-color: rgba(137, 43, 226, 0.8);
    border-bottom: 2px solid #7580f1;
    border-right: 2px solid #7580f1;
}

.authWrapper>div>img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.authWrapper>div>span {
    font-size: 22px;
    font-weight: 500;
    color: white;
}