.blogPage,
.blog-form {
    width: 70%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.blog-form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

.blog-form input,
.blog-form textarea,
.blog-form button,
.blog-form h2 {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 8px;
    box-sizing: border-box;
}

.blog-form button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.blogs {
    margin: 10px;
}

.blog {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.blog h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.blog p {
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}

.seperator {
    text-align: center;
    margin: 10px;
}

.seperator h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.blogOptions {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.blogDelete {
    background-color: red;
    color: white;
    cursor: pointer;
}

.blogDelete:hover {
    background-color: darkred;
}
