/* Product Layout */

.product-filter {
    display: flex;
    padding: 30px 0;
}

.sort {
    display: flex;
    align-self: flex-end;
}

.collection-sort {
    display: flex;
    flex-direction: column;
}

.collection-sort:first-child {
    padding-right: 20px;
}

.products {
    display: flex;
    flex-flow: row wrap;
}

.product-card {
    margin: 20px;
    padding: 10px;
    flex: 0 0 200px;
    width: 200px;
    height: 320px;
    background-color: #FFF;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.product-image img {
    object-fit: cover;
    width: 180px;
    height: 240px;
}

.product-info {
    margin-top: auto;
    padding-top: 20px;
    text-align: center;
}

.product-info {
    color: #666;
    font-size: 14px;
}

.product-info .product_title {
    font-weight: 500;
    line-height: 1.7em;
}

@media (max-width: 920px) {

    .product-card {
        flex: 1 21%;
    }

    .products .product-card:first-child,
    .products .product-card:nth-child(2) {
        flex: 2 46%;
    }

}

@media (max-width: 600px) {

    .product-card {
        flex: 1 46%;
    }

}

@media (max-width: 480px) {

    h1 {
        margin-bottom: 20px;
    }

    .product-filter {
        flex-direction: column;
    }

    .sort {
        align-self: flex-start;
    }

}

.orange {
    background: #F18557;
}

.product-colors .active:after {
    content: "";
    width: 36px;
    height: 36px;
    border: 2px solid #000;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    left: -5px;
    top: -5px;
}

.Item_outer_container {
    width: 900px;
    height: auto;
    display: flex;
    background-color: white;
    border: 1px rgb(218, 215, 215) solid;
    border-radius: 10px;
    margin: 50px auto;
    align-content: center;
}

.product_card {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.Item_outer_container .product_image {
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
}

.Item_outer_container .product_image img {
    object-fit: contain;
    width: 440px;
    height: 440px;
    /* padding: 10px; */
}

.Item_outer_container .product_info {
    padding: 40px;
}

.Item_outer_container .product_info .product_name {
    color: rgb(0, 0, 0);
    font-size: 45px;
}

.Item_outer_container .product_info .product_soldBy span {
    color: rgb(2, 21, 165);
}

.Item_outer_container .product_info .product_price {
    padding-bottom: 15px;
}

.Item_outer_container .product_info .product_info_box .Product_detail_heading {
    color: rgb(76, 74, 74);
    font-size: 14px;
}

.Item_outer_container .product_info .product_info_box .product_details,
.Item_outer_container .product_info .product_info_box .product_desc {
    color: rgb(109, 108, 108);
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 0;
    padding-bottom: 10px;
}

.Item_outer_container .product_info .product_info_box .product_desc {
    padding-top: 10px;
}

.Item_outer_container .product_info .Buy_button {
    background-color: rgb(2, 21, 165);
    border: 2px solid rgb(2, 21, 165);
    border-radius: 5px;
    font-size: 13px;
    width: 150px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px 24px;
    margin: 20px 20px 20px 0;
    color: white;
}

.Item_outer_container .product_info .Cart_button {
    background-color: white;
    border: 2px solid rgb(2, 21, 165);
    border-radius: 5px;
    font-size: 13px;
    width: 150px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px 24px;
    margin: 20px 0 20px 20px;
    color: rgb(2, 21, 165);
}